{% extends 'flatpages/default.html'%}
{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h2><span style="color: #0000ff;"><span style="color: #ff0000;"><strong>{{ flatpage.content }}</strong></span></span></h2>
<h2><span style="color: #0000ff;"><span style="color: #ff0000;"><strong><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-wink.gif" alt="wink" /></strong></span></span></h2>
<p><span style="text-decoration: underline;"><span style="color: #00ff00;"><em><span style="color: #0000ff;"><span style="color: #ff0000;"><strong>Hello</strong></span></span></em></span></span></p>
{% endblock content %}


